*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);

	--dark-gray-magenta: hsl(303, 10%, 53%);
	--light-gray-magenta: hsl(300, 24%, 96%);
}

@font-face {
	font-family: Spartan;
	src: url("./../font/Spartan-Medium.ttf");
}

html {
	box-sizing: border-box;
}

body {
	font-family: Spartan, sans-serif;
	background-color: var(--light-gray-magenta);
}

main {
	padding: 1.5rem;
}

.main-container {
	text-align: center;
}

.main-title {
	color: var(--dark-magenta);
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

.main-text {
	color: var(--dark-gray-magenta);
	font-size: 0.85rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}
