*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);

	--dark-gray-magenta: hsl(303, 10%, 53%);
	--dark-opac-magenta: hsla(302, 10%, 53%, 0.1);
	--light-gray-magenta: hsl(300, 24%, 96%);

	--white: #fff;
}

@font-face {
	font-family: Spartan;
	src: url("./../font/Spartan-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: Spartan;
	src: url("./../font/Spartan-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Spartan;
	src: url("./../font/Spartan-Bold.ttf");
	font-weight: 700;
}

html {
	box-sizing: border-box;
}

body {
	font-family: Spartan, sans-serif;
	background-color: var(--white);
	background-image: url("./../images/bg-pattern-top-mobile.svg"),
		url("./../images/bg-pattern-bottom-mobile.svg");
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	background-position: top, bottom;
	min-height: 100vh;
}

main {
	padding: 3rem 1.5rem;
}

.main-container {
	text-align: center;
}

.main-title {
	color: var(--dark-magenta);
	font-size: 1.75rem;
	margin-bottom: 1rem;
	font-weight: 700;
}

.main-text {
	color: var(--dark-gray-magenta);
	font-size: 0.85rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
	font-weight: 500;
}

.rated-section {
	margin-bottom: 2.5rem;
}

.rated {
	background-color: var(--dark-opac-magenta);
	margin-bottom: 1rem;
	text-align: center;
	color: var(--dark-magenta);
	padding: 1rem 0;
	font-size: 0.85rem;
	font-weight: 700;
}

.stars {
	margin-bottom: 0.75rem;
}

.testimonial {
	background-color: var(--dark-magenta);
	margin-bottom: 1rem;
	padding: 1.75rem;
	border-radius: 8px;
}

.testimonial-header {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
}

.testimonial-description {
	margin-left: 1rem;
}

.testimonial-name {
	font-size: 1rem;
	color: var(--light-gray-magenta);
}

.testimonial-role {
	font-size: 0.85rem;
	color: var(--soft-pink);
	font-weight: 400;
	margin-top: 0.25rem;
}

.testimonial-img {
	border-radius: 100px;
	overflow: hidden;
	max-width: 40px;
	max-height: 40px;
	height: auto;
}

.testimonial-img img {
	max-width: 100%;
}

.testimonial-text p {
	font-size: 0.85rem;
	color: var(--light-gray-magenta);
	line-height: 1.5;
}

@media (min-width: 700px) {
	body {
		background-image: url("./../images/bg-pattern-top-desktop.svg"),
			url("./../images/bg-pattern-bottom-desktop.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: top left, bottom right;
	}

	main {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 75rem;
		margin-left: auto;
		margin-right: auto;
	}

	.rated-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.rated {
		max-width: 30rem;
	}

	.stars {
		padding: 0 2rem;
	}

	.stars img {
		margin: 0 0.15rem;
	}

	.main-container {
		text-align: left;
		max-width: 30rem;
	}

	.main-title {
		font-size: 2.5rem;
		max-width: 24rem;
	}

	.testimonials-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		min-height: 16rem;
	}

	.testimonial {
		margin-bottom: 0;
	}
}

@media (min-width: 890px) {
	.rated {
		display: flex;
		align-items: center;
	}

	.stars {
		margin-bottom: 0;
	}
}

@media (min-width: 1030px) {
	.rated:nth-of-type(2) {
		margin-left: 2rem;
	}

	.rated:nth-of-type(3) {
		margin-left: 4rem;
	}

	.testimonial {
		height: 14rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.testimonial:nth-of-type(1) {
		align-self: start;
	}

	.testimonial:nth-of-type(2) {
		align-self: center;
	}

	.testimonial:nth-of-type(3) {
		align-self: end;
	}
}
